<div class="container my-5 py-5 about">
	<div class="row">
		<div class="col-sm-4 text-center d-none d-md-block">
			<img src="./assets/img/me.jpg" class="img-fluid my-image">
		</div>
		<div class="col-12 col-sm-8">
				<h2><b><img src="./assets/img/me-square.jpg" class="img-fluid my-image-sm d-sm-none">Mhd Khair Dimashky</b></h2>
				<h5>
					I'm a full-stack web developer and a student at Damascus University in Syria.
				</h5>
				<p>
					Full-stack web developer who loves beautiful design, elegant code and javascript.
					<br>
					Student at Damascus University in Syria, computer science college, department of Software Engineering.
					<br>
					Also I'm a photographer in my free time.
				</p>
				<p>
					Mobile: <span class="text-secondary font-weight-bold">+963 99-467-9120</span><br>
					Mail: <span class="text-secondary font-weight-bold">mhd@dimashky.com</span>
				</p>
		</div>
	</div>
</div>
