<div class="bg-primary">
	<div class="container py-5 text-center text-light">
		<h2 class="text-uppercase">contact</h2>
		<p>
			Email: <span class="text-secondary font-weight-bold">mhd@dimashky.com</span>
		</p>
		<p>
			Mobile: <span class="text-secondary font-weight-bold">00963-994679120</span>
		</p>
		<div class="d-flex justify-content-center my-2">
			<a href="https://www.facebook.com/Mohamed.Dimashky" class="px-2" target="_blank"><img src="./assets/img/icons/facebook.svg" height="30px" alt="facebook"></a>
			<a href="https://github.com/dimashky" class="px-2" target="_blank"><img src="./assets/img/icons/github.svg" height="30px" alt="github"></a>
			<a href="https://www.linkedin.com/in/mohameddimashky" class="px-2" target="_blank"><img src="./assets/img/icons/linkedin.svg" height="30px" alt="linkedin"></a>
		</div>

	</div>
</div>
