<div class="header-container">
	<div class="header-text">
		<div class="welcome pl-md-3 pl-sm-1 pr-md-3 pr-sm-1">
			<h2>Hello! I'm <span class="text-secondary">Mohamed Dimashky</span></h2>
			<h3>I'm a full-stack web developer;</h3>
		</div>
		<p class="mt-3">
			<button onclick="goToProjects()" class="btn btn-outline-secondary text-light text-capitalize">
				View my work <img src="./assets/img/icons/arrow-right.svg" width="20">
			</button>
		</p>
	</div>
</div>
