<section class="service-container py-md-5">
	<h2 class="text-center text-uppercase">Services</h2>
	<p class="section-lead text-center">
		Here what I can contribute to your amazing idea!
	</p>
	<div class="services-grid">
		<div class="service service1">
			<img src="./assets/img/icons/frontend.svg" height="50">
			<h4>Frontend</h4>
			<p>
				Who doesn't like to be his website amazing, responsive, reactive and clean? Just contact me and I can help you.
			</p>
		</div>

		<div class="service service2">
			<img src="./assets/img/icons/backend.svg" height="50">
			<h4>Backend</h4>
			<p>If your project needs high stability and safety server that can satisfy your customer, You are in the correct place!</p>
		</div>

		<div class="service service3">
			<img src="./assets/img/icons/desktop.svg" height="50">
			<h4>Desktop</h4>
			<p>
				With ElectronJS, I build desktop application with web technologies; HTML5, CSS3, Javascript. Believe me you will like it.
			</p>
		</div>
	</div>
</section>
