<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,shrink-to-fit=no, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta name="author" content="Mhd Dimashky">
	<meta name="description" content="Mohamedd Khair Dimashky Portfolio">
	<meta name="keywords" content="web, freelance, developer, mhd, dimashky, portfolio">

	<link rel="stylesheet" href="/assets/css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css">

	<title>Mhd Dimashky</title>
</head>
<body>
<div id="app" class="">


<div id="fullpage">
	<% include ./html/header.ejs %>
	<% include ./html/about.ejs %>
	<% include ./html/portfolio.ejs %>
	<% include ./html/contact.ejs %>
</div>

</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.min.js"></script>
<script src="/assets/js/index.js"></script>
</html>
