@import "color";
@import "bootstrap/scss/bootstrap.scss";
@import "portfolio";
@import "font";

body{
  background: whitesmoke;
  color: $primary;
}

.header-container{
  .header-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #fff!important;
  }
  .title{
    font-family: "Fira Code";
    font-weight: 700;
    font-size: 4rem;
    color: $blue;
  }
  .welcome{
  }
}

.my-image{
  max-height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 21px 0px $primary;
  -moz-box-shadow: 0px 1px 21px 0px $primary;
  box-shadow: 0px 1px 21px 0px $primary;
}

.about .progress{
  height: 24px;
  margin-top: 0.5rem;
}

